@include media-query(1500px) {
    #what .micrositesContainer li h3 {
        hyphens: auto;
        font-size: 2.2rem;
    }
    .headerWrapper nav {
        margin-left: -42%;
    }
}

@include media-query(1400px) {
    .sectionContainer {
        .sectionList .section .sectionIcon {
            top: 40px;
        }
        .sectionModal .galleryArea li h5 {
            hyphens: auto;
            font-size: 3rem;
        }
    }
    #what .micrositesContainer li h3 {
        font-size: 1.9rem;
    }
}

@include media-query(1300px) {
    .sectionContainer {
        .sectionList .section {
            min-height: 320px;
        }
        .sectionModal {
            .galleryArea {
                width: 75%;
            }
            .textArea {
                width: 25%;
                font-size: 1.9rem;
            }
            &.proyectModal {
                .textArea h3 {
                    font-size: 4rem;
                }
            }
        }
    }
    .overVideo .firstGrid {
        grid-template-columns: 1fr 1fr .4fr;
    }
    .processContainer {
        margin-bottom: 15%;
        .process {
            grid-template-rows: 1fr 0px;
        }
        .processList {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            &.hideMe {
                opacity: 0;
                max-height: 100vh;
                z-index: -1;
            }
        }
    }
    #how .processContainer h4 {
        grid-column-start: 1;
        padding-left: 16.6%;
    }
}

@include media-query(1200px) {
    .quote p {
        font-size: 5rem;
    }
    .sectionContainer {
        .sectionList .section {
            min-height: 300px;
        }
        .sectionModal {
            .textArea {
                font-size: 1.8rem;
            }
            &.proyectModal {
                .textArea h3 {
                    font-size: 3.5rem;
                }
            }
        }
    }
}

@include media-query(1100px) {
    .sectionContainer {
        .sectionList .section {
            min-height: 280px;
        }
    }
    .overVideo {
        p {
            font-size: 2.1rem;
        }
        h2,
        h1 {
            font-size: 7rem;
        }
    }
    #what {
        .micrositesContainer {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(7, 1fr);
            li {
                height: 100px;
                padding: 2.5%;
                min-width: 100%;
                flex-direction: row;
                display: flex;
                border: none;
                justify-content: space-between;
                h3 {
                    padding: 0;
                    margin: 0;
                    max-width: 65%;
                }
                p {
                    display: none;
                }
                a {
                    align-items: center;
                    justify-items: flex-end;
                    justify-self: flex-end;
                    align-self: center;
                    width: 110px;
                }
                .launchIcon {
                    font-size: 1.5rem;
                    width: 100px;
                    svg {
                        display: none;
                    }
                    span {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
        .micrositesBackgrounds {
            flex-flow: column;
            grid-row-end: span 7;
            .backgroundContainer {
                height: 100px;
                width: 100%;
                background-position: 100% 35%;
            }
        }
    }
}

@include media-query(1000px) {
    #no-limit {
        h2 {
            padding: 0;
        }
    }
    #process h3,
    #oportunity h3 {
        display: block;
        text-align: left;
        line-height: 1;
        margin-bottom: 8%;
        font-size: 5rem;
    }
    .whiteRebranding {
        background-color: white;
        display: flex;
        flex-direction: column;
        .twoColumned {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            svg {
                max-width: 500px;
                align-self: center !important;
                &:nth-of-type(1) {
                    margin: 5% 0 10% 0;
                    padding: 0 4%;
                    align-self: center;
                }
                &:nth-of-type(2) {
                    display: none;
                }
            }
            .image {
                min-height: 300px;
                &:nth-of-type(1) {
                    grid-row: 2 / span 1;
                }
            }
            &.textures {
                display: flex;
                flex-direction: column;
                svg,
                svg:nth-of-type(1),
                svg:nth-of-type(2) {
                    margin: 2% 0;
                    padding: 0;
                    align-self: center;
                    display: block;
                }
            }
            &.withBorder {
                grid-template-rows: 1fr;
                svg {
                    justify-self: center;
                    &:nth-of-type(2),
                    &:nth-of-type(4) {
                        display: flex;
                        justify-self: center;
                        padding: 0 4%;
                    }
                    &:nth-of-type(2),
                    &:nth-of-type(3) {
                        margin-bottom: 8%;
                        padding: 0 4%;
                    }
                }
            }
        }
        .oneColumned {
            padding: 0 4%;
            svg {
                max-width: 500px;
                justify-self: center;
            }
        }
        .threeColumned {
            svg {
                max-width: 500px;
                justify-self: center;
                align-self: center;
                margin-bottom: 12%;
            }
            display: flex;
            flex-direction:column;
            padding: 0 4%;
            p {
                align-self: center;
                margin-right: 0;
                text-align: center;
            }
        }
    }
    #rebranding {
        .quote {
            margin: 10% 5%;
            width: 90%;
            box-sizing: border-box;
            border: 0;
        }
        h3 {
            padding: 0% 4%;
        }
    }
    .renderGrid {
        grid-template-columns: 1fr .4fr 1fr;
        grid-template-rows: 1fr 1fr;
        .image {
            min-height: 360px;
        }
    }
    .quote {
        padding: 5% 0;
        border: 1px solid $brand-main-color;
        border-width: 1px 0 1px 0;
        margin: 12% 0;
    }
    .encapsulator svg {
        padding: 0 4%;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
        max-width: 100%;
    }
    section {
        padding: 8% 4% 2% 4%;
    }
    #brand {
        overflow: auto;
        .twoColumned {
            margin-bottom: 12%;
        }
    }
    .overVideo {
        .screen {
            align-items: center;
            justify-content: center;
            justify-items: center;
            padding: 15% 10% 15% 4%;
        }
    }
    h2 {
        padding-left: 4%;
    }
    header {
        height: 55px;
        .headerWrapper {
            height: 55px;
            padding: 8px 4% 8px 4%;
            align-items: flex-start;
            grid-template-columns: repeat(4, 1fr);
            #hamburger {
                display: flex;
                grid-column: 4 / span 1;
                justify-self: flex-end;
            }
            .websiteLogo {
                width: 150px;
                height: 42px;
            }
            .designSuccessLogo {
                display: none;
            }
            .designSuccessLogoMobile {
                display: flex;
            }
            nav {
                position: fixed;
                padding: 80px 10% 10% 10%;
                line-height: 1.8;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: black;
                transform: translateX(-100%);
                transition: 0.3s ease all;
                margin-left: 0;
                &.active {
                    transform: translateX(0);
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    li a {
                        font-size: 5rem;
                    }
                }
            }
            a:nth-child(1) {
                grid-column: 1 / span 1;
            }
        }
    }
    #contact {
        overflow: hidden;
        padding: 10% 5% 0 5%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "logo logo" "h2 h2" "locations locations" "form form" "locations2 locations2" "footer footer";
        .locationContact {
            padding: 0;
            font-size: 1.5rem;
            &~.locationContact {
                display: flex;
                flex-direction: column;
                margin-top: 8%;
                align-items: center;
                p {
                    margin-bottom: 10px;
                    font-size: 2rem;
                }
            }
        }
        .locationMap {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
            grid-row-end: last-line;
            min-width: 600px;
            justify-self: center;
        }
        .engageLogo {
            padding-top: 15%;
        }
        h2 {
            font-size: 10rem;
            max-width: 500px;
        }
        .form {
            button {
                font-size: 2rem;
                width: 100px;
                padding: 10px;
                margin-top: 15%;
            }
            input,
            textarea {
                font-size: 2rem;
            }
        }
        footer {
            p {
                padding: 10px 0 0 0;
                font-size: 1.6rem;
            }
            .socialList {
                width: 270px;
                svg {
                    width: 35px;
                }
            }
        }
    }
}

@include media-query(900px) {
    .quote {
        p {
            font-size: 4rem;
            &:before,
            &:after {
                top: 24px;
            }
        }
        h4 {
            font-size: 3rem;
        }
    }
}

@include media-query(800px) {
    #no-limit .twoColumned {
        display: flex;
        flex-direction: column;
        h3 {
            justify-items: center;
            width: auto;
        }
        p {
            width: 100%;
        }
    }
    #process .threeColumned {
        display: flex;
        flex-direction: column;
        p {
            margin-bottom: 4%;
        }
    }
    #brand .twoColumned {
        display: flex;
        flex-direction: column;
    }
    .screen7 .inMenu {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-bottom: 0;
        h4 {
            align-self: unset;
            margin: 0 0 15% 0;
            font-size: 2.5rem;
            padding: 5%;
        }
    }
}

@include media-query(700px) {
    #home {
        h2 {
            font-size: 2.2rem;
            margin-bottom: 5%;
        }
        h1 {
            font-size: 5rem;
        }
    }
    #trustedby .firstColumned {
        min-height: 180px;
    }
}

@include media-query(600px) {
    .renderGrid {
        grid-template-columns: 1fr .2fr 1fr;
        .image {
            min-height: 280px;
        }
    }
    #home .swiper-pagination {
        right: 4%;
    }
    .processContainer .process {
        .processIcon {
            transform: translateY(-50%);
            max-height: 260px;
        }
    }
    #contact {
        h2 {
            font-size: 6.5rem;
        }
        .form {
            input,
            textarea {
                font-size: 1.5rem;
            }
        }
    }
    #how {
        .processContainer h4 {
            display: none;
        }
        #outOfGrid {
            display: block;
        }
        .video {
            margin: 0;
            width: 100% !important;
            padding-bottom: 56.6%;
        }
    }
}

@include media-query(500px) {
    #home {
        .screen {
            justify-items: flex-start;
            padding: 35% 10% 35% 4%;
            grid-gap: 0;
        }
        .secondGrid h1 {
            display: none;
        }
        .thirdGrid {
            grid-template-rows: 1fr;
        }
        .swiper-pagination {
            right: 4%;
            top: 280px;
        }
        ul {
            margin-left: 25px;
        }
    }
    #contact .locationContact {
        ul{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            li{
               background-color: black;
            }
        }
        &~.locationContact p {
            font-size: 1.6rem;
        }
    }
    #process h3,
    #oportunity h3 {
        font-size: 4rem;
    }
}

@include media-query(400px) {
    .processContainer .process {
        .processIcon {
            transform: translateY(-50%);
            max-height: 185px;
        }
    }
    #contact h2 {
        font-size: 5rem;
    }
}